[package]
name = "icy_draw"
version = "0.3.0"
edition = "2021"
authors = ["Mike Krüger <mkrueger@posteo.de>"]
description = "A drawing program for ANSI & ASCII art and other text-based art forms."
license = "Apache-2.0"
repository = "https://github.com/mkrueger/icy_tools"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
eframe = { workspace = true }
egui = { workspace = true }
egui_extras = { workspace = true }
egui_glow = { workspace = true }
egui-modal = { workspace = true }
glow = { workspace = true }
egui_file = { workspace = true }
egui_tiles = { git ="https://github.com/mkrueger/egui_tiles"}
#egui_tiles = { path = "../egui_tiles"  }
egui-bind = { workspace = true }
egui-notify = { workspace = true }
log = { workspace = true }
log4rs = "1.2.0"
open = "5.0.0"
dark-light = "1.0.0"
zip = { workspace = true }
notify = "6.1.1"
gifski = { version="1.12.2", features=["gifsicle"], default-features = false}
imgref = "1.9.4"
rgb = "0.8.36"
thiserror = { workspace = true }
anyhow = "1.0.75"
clap = { workspace = true }
github_release_check = "0.2.1"

icy_engine = { workspace = true }
icy_engine_gui = { workspace = true }
icy_view_gui = { workspace = true }
icy_sauce = { workspace = true }

bstr = { workspace = true }

egui_code_editor = "0.2.7"
mlua = { version = "0.9.1", features = ["lua54", "vendored"] }
regex = { workspace = true }

walkdir = { workspace = true }
serde = { workspace = true }
serde_json = "1.0.80"
lazy_static = { workspace = true }
directories = { workspace = true }
image = { version = "0.24", features = ["gif", "jpeg", "ico", "png", "pnm", "tga", "tiff", "webp", "bmp", "hdr", "dxt", "dds", "farbfeld", "jpeg_rayon", "openexr", "qoi"] }
semver = { workspace = true }

i18n-embed = { workspace = true }
i18n-embed-fl = { workspace = true }
rust-embed = { workspace = true }
once_cell = { workspace = true }

[features]
default = []

[build-dependencies]
winres = "0.1"

[package.metadata.bundle]
name = "Icy Draw"
identifier = "com.github.icy_draw"
icon = [ "build/mac/128x128@2x.png" ]
resources = []
copyright = "Copyright (c) Mike Krüger 2022. All rights reserved."

[package.metadata.deb]
section="Network"
copyright = "Copyright (c) Mike Krüger 2022. All rights reserved."
revision=""
license-file="build/license.rtf"
assets = [
    ["target/release/icy_draw", "/usr/bin/", "755"],
    ["build/linux/icy_draw.desktop", "/usr/share/applications/", "644"],
    ["build/linux/128x128.png", "/usr/share/icons/hicolor/128x128/apps/icy_draw.png", "644"],
    ["build/linux/256x256.png", "/usr/share/icons/hicolor/256x256/apps/icy_draw.png", "644"],
]
